* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}

body {
  height: 95%;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.25em;
}

ul.footer {
  padding-top: 1em;
}
li.footer {
  list-style: none;
  font-size: 0.8em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

ul.category {
  list-style: none;
}

li.category {
  list-style: none;
  font-size: 0.8em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

ul.category_mobile {
  list-style: none;
}

li.category_mobile {
  list-style: none;
  font-size: 0.9em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
  color: #005050;
}

a.no-hover:hover {
  text-decoration: none;
  color: #000000;
}

.tocview {
  overflow-y: auto;
  height: calc(100vh - 72px);
  border-top: 1px solid #cccccc;
}

.mde {
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: inherit;
  overflow-y: auto;
  cursor: auto;
  border: none;
  resize: none;
  padding: 8px;
}

.mde:focus {
  outline: none;
}

.learningRequirements {
  padding-left: 30px;
  list-style-type: disc;
  list-style-position: outside;
}

.MuiRadio-root {
  padding: 5px;
}

.PrivateSwitchBase-input {
  padding: 0px;
  margin: 0px;
}

.ImageCropDialog-container {
  position: relative;
  margin: 20px 20px;
  width: 400px;
  height: 300px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80px;
}
